@{
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
<style>
    .your-custom-block {
        width: 100%; /* Chiều rộng của block là 100% */
        max-width: 600px; /* Đặt chiều rộng tối đa của block là 600px */
        padding: 20px; /* Thêm padding vào block */
        background-color: #f9f9f9; /* Đặt màu nền của block */
        border: 1px solid #ccc; /* Đặt đường viền của block */
        border-radius: 5px; /* Bo tròn các góc của block */
       
        margin: 0 auto; /* Căn giữa theo chiều ngang */
    }

    .bh-tits {
        color: red; /* Đặt màu chữ của phần tử h2 là đỏ */
    }
</style>

<h2 style="text-align:center" class="bh-tits">Thông tin bảo hành </h2>
<div class="your-custom-block">
<div class="bh-tgbh">
    <ul>
        <li><label>Sản phẩm</label> <span>Máy tính xách tay Asus Gaming FX517ZC-HN077W/i5-12450H/8GB/512GB/15.6FHD/RTX3050_4GB/Win11_Đen</span></li>
        <li><label>Mã IMEI</label> <span>N7NRCX03K693286</span></li>
        <li><label>Thời Gian Bảo Hành</label> <span>24 tháng</span></li>
        <li><label>Ngày hết hạn bảo hành</label> <span>25-09-2024 18:10:55</span></li>
        <li><label>Trạng thái bảo hành</label> <span class="bh-tgbh1">Còn hạn bảo hành</span></li>
    </ul>
</div>
</div>