@model GiayDep.Models.CtPhieuNhap

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CtPhieuNhap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdchitietPn" />
            <div class="form-group">
                <label asp-for="Idsp" class="control-label"></label>
                <select asp-for="Idsp" class="form-control" asp-items="ViewBag.Idsp"></select>
                <span asp-validation-for="Idsp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idphieunhap" class="control-label"></label>
                <select asp-for="Idphieunhap" class="form-control" asp-items="ViewBag.Idphieunhap"></select>
                <span asp-validation-for="Idphieunhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayNhap" class="control-label"></label>
                <input asp-for="NgayNhap" class="form-control" />
                <span asp-validation-for="NgayNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluong" class="control-label"></label>
                <input asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

