@model Laptop.Models.Ram

@{
    ViewData["Title"] = "Delete";
}

<h2>XÓA RAM</h2>

<h3>Bạn có chắc chắn muốn xóa</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Loại Ram
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RamName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RamId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> 
        <br>
        <a class="btn btn-dark" asp-action="Index">Trở về</a>
    </form>
</div>
