@model Laptop.Models.Ram

@{
    ViewData["Title"] = "Details";
}

<h2>RAM DETAIL</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ram name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RamName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.RamId">Edit</a> 
    <br>
    <a class="btn btn-dark" asp-action="Index">Back</a>
</div>
