@model IEnumerable<Laptop.Models.Ram>

@{
    ViewData["Title"] = "Index";
}

<h2>RAM LIST</h2>

<p>
    <a class="btn btn-info" asp-action="Create">Add new</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Ram name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RamName)
                </td>
                <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.RamId">Edit</a> |
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.RamId">Detail</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RamId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>