@using Microsoft.AspNetCore.Identity
@model UserModel
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@inject SignInManager<AppUserModel> _signInManager
<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration Form | CoderGirl</title>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container">
        <input type="checkbox" id="check">
        <div class="login form">
            <header>Login</header>
            <form asp-action="Login" asp-controller="Account">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="LOGIN" class="btn btn-primary" />
                </div>

            </form>
            <div class="form-group">
                @{
                    var loginProviders = (await _signInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    <form asp-controller="Account" asp-action="ExternalLogin" method="POST" class="form-horizontal" style="text-align: center">
                        @foreach (var provider in loginProviders)
                        {
                            if (string.Equals(provider.Name, "facebook", StringComparison.OrdinalIgnoreCase))
                            {
                                
                                    <button  style="width:342px;height:55px;" type="submit" class="btn btn-facebook text-uppercase" name="provider" value="@provider.Name"
                                        title="Sử dụng tài khoản của bạn để đăng nhập hoặc đăng ký">
                                    <i style="height:14px;width:14px;" class="fab fa-facebook mr-2"></i>
                                    @provider.DisplayName
                                    </button>
                                   
                             

                            }
                            else if (string.Equals(provider.Name, "google", StringComparison.OrdinalIgnoreCase))
                            {
                                <button style="width:342px;height:55px;" type="submit" class="btn btn-google text-uppercase mt-3" name="provider" value="@provider.Name"
                                        title="Sử dụng tài khoản của bạn để đăng nhập hoặc đăng ký">
                                    <i style="height:14px;width:14px;" class="fab fa-google mr-2"></i>
                                    @provider.DisplayName
                                </button>
                            }
                        }
                    </form>

                }
            </div>
            <div style="margin-top : 30px">
                <span >
                    Don't have an account?
                    <a asp-action="Register">
                        <label>Register</label>
                    </a>
                   
                </span>
                <br />
              
            </div>
        </div>
        
        
    </div>
</body>
</html>

<style>
    .btn-primary, .btn-facebook {
        font-size: 16px; /* Thiết lập kích thước phông chữ tương đồng */
        padding: 10px 24px; /* Thiết lập padding để nút có kích thước giống nhau */
        border-radius: 5px; /* Làm tròn góc */
        border: none; /* Bỏ đường viền */
        width: 100%; /* Chiều rộng tối đa */
        cursor: pointer; /* Hiệu ứng con trỏ khi di chuột */
    }

    .btn-facebook {
        background-color: #3b5998;
        color: white;
        text-transform: uppercase; /* Viết hoa chữ */
    }

    /* Bổ sung thêm cho các nút khác nếu cần */
    .btn-google {
        background-color: #dd4b39;
        color: white;
        text-transform: uppercase;
    }


</style>
                                     