@model UserModel
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration Form | CoderGirl</title>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container">
        <input type="checkbox" id="check">
        <div class="login form">
            <header>Login</header>
            <form asp-action="Login" asp-controller="Account">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>

            </form>
            <div >
                <span >
                    Don't have an account?
                    <a asp-action="Register">
                        <label>Register</label>
                    </a>
                   
                </span>
            </div>
        </div>
    </div>
</body>
</html>
