
<div id="top-header">
	<div class="container">
		<ul class="header-links pull-left">
			<li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
			<li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
			<li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
		</ul>
		<ul class="header-links pull-right">

			@if (User.Identity?.IsAuthenticated ?? false)
			{
				<li class="dropdown">
					<span style="color: white;">
						<i class="fa fa-user-o"></i>Hi,
						<span id="username">@User.Identity.Name</span>
					</span>
					<ul class="dropdown-content">
						<li><a asp-area="Identity" asp-action="Index" asp-controller="Manage"><i class="fa fa-user"></i>Profile Detail</a></li>
						<li><a asp-action="Logout" asp-controller="Account"><i class="fa fa-location-arrow"></i> Address</a></li>

					</ul>
				</li>
				<li><a asp-action="Logout" asp-controller="Account"><i class="fa fa-sign-out"></i> Logout</a></li>
			}
			else
			{
				<li><a asp-action="Login" asp-controller="Account"><i class="fa fa-user-o"></i> Login</a></li>
			}
		</ul>

	</div>
</div>


<style>
	/* Style for Dropdown Button */
	.dropdown {
		position: relative;
		display: inline-block;
	}

	/* Dropdown Content (hidden by default) */
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #15161D;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

		/* Links inside the dropdown */
		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

			/* Change color of dropdown links on hover */
			.dropdown-content a:hover {
				background-color: #15161D;
			}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
		display: block;
	}

	/* Change the background color of the dropdown button when the dropdown content is shown */
	.dropdown:hover .dropbtn {
		background-color: #15161D;
	}

</style>