<div class="float-contact">
    <button class="chat-zalo">
        <a href="http://zalo.me/0898076278">Chat Zalo</a>
    </button>
    <button class="chat-face">
        <a href="https://www.facebook.com/dhquoctesaigon">Chat Facebook</a>
    </button>
    <button class="hotline">
        <a href="tel:02836203932">Hotline: 028 3620 3932</a>
    </button>
</div>