@using Laptop.Utility
<!-- MAIN HEADER -->
<div id="header">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- LOGO -->
			<div class="col-md-3">
				<div class="header-logo">
					<a href="#" class="logo">
						<img class="rounded-circle" src="/img/siulogo.jpg" width="168" height="auto" alt="" style="padding-top: 8px;" />

					</a>
				</div>
			</div>
			<!-- /LOGO -->
			<!-- SEARCH BAR -->
			<div class="col-md-6">
				<div class="header-search">
					<form asp-action="ProductSearch" method="get"  asp-controller="ProductView">
						<select class="input-select">
							<option value="0">All Categories</option>
							<option value="1">Category 01</option>
							<option value="1">Category 02</option>
						</select>
						<input class="input" type="text" name="s" placeholder="Search here">
						<button type="submit" class="search-btn">Search</button>
					</form>
				</div>
			</div>
			<!-- /SEARCH BAR -->
			<!-- ACCOUNT -->
			<div class="col-md-3 clearfix">
				<div class="header-ctn" style="width: 430px;">
					<div class="dropdown">
						<a href="#" class="dropbtn">
							<i class="fa fa-shopping-bag" aria-hidden="true"></i>
							<span>Order Status</span>
						</a>
						<div class="dropdown-content">
							<a asp-action="UserOrders" asp-controller="ShoppingCart" asp-route-id="1">Wait for approval</a>
							<a asp-action="UserOrders" asp-controller="ShoppingCart" asp-route-id="2">Delivering</a>
							<a asp-action="UserOrders" asp-controller="ShoppingCart" asp-route-id="3">Delivered</a>
							<a asp-action="UserOrders" asp-controller="ShoppingCart" asp-route-id="4">Canceled</a>
						</div>
					</div>
					<!-- Wishlist -->
					
					<div>

						<a asp-controller="Compare" asp-action="Index" class="add-to-compare">
							<i class="fa fa-exchange" aria-hidden="true"></i>
							<span>Compare</span>
          </div>
           <div>
						<a asp-action="WishList" asp-controller="ShoppingCart" asp-area="">
							<i class="fa fa-heart-o"></i>
							<span>Your Wishlist</span>
                         @*    @if(HttpContextAccessor.HttpContext.Session.GetInt32(CartCount.sessionCount) != null)
							{
								
							} *@
							

						</a>
					</div>
					<!-- /Wishlist -->
					<!-- Profile -->
					<div>
						<a asp-action="Index" asp-controller="Manage" asp-area="Identity" >
							<i class="fa fa-address-book" aria-hidden="true"></i>
							<span>Your Profile</span>
						</a>
					</div>
					<!-- /Profile -->
					<!-- Cart -->
					<div class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
							<i class="fa fa-shopping-cart"></i>
							<a asp-area="" asp-action="Index" asp-controller="ShoppingCart">
								<span>Your Cart</span>
							</a>
							<div class="qty"></div>
						</a>
					</div>
					<!-- /Cart -->
					<!-- Menu Toogle -->
					<div class="menu-toggle">
						<a href="#">
							<i class="fa fa-bars"></i>
							<span>Menu</span>
						</a>
					</div>
					<!-- /Menu Toogle -->
				</div>
			</div>
			<!-- /ACCOUNT -->
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</div>
<!-- /MAIN HEADER -->



<style>
	/* Style for Dropdown Button */
	.dropdown {
		position: relative;
		display: inline-block;
	}

	/* Dropdown Content (hidden by default) */
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 10000;
	}

		/* Links inside the dropdown */
		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

			/* Change color of dropdown links on hover */
			.dropdown-content a:hover {
				background-color: #f1f1f1
			}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
		display: block;
	}

	/* Change the background color of the dropdown button when the dropdown content is shown */
	.dropdown:hover .dropbtn {
		background-color: #15161D;
	}

</style>