@model GiayDep.Models.Membership
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var httpContext = HttpContextAccessor.HttpContext;
}
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center font-weight-bold">Chỉnh sửa thông tin thành viên</h2>

<h4>Thông tin thành viên</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idtv" />
            <div class="form-group">
                <label asp-for="Tk" class="control-label">Tài khoản</label>
                <input asp-for="Tk" class="form-control" disabled />
                <span asp-validation-for="Tk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label">Họ tên</label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sđt" class="control-label">Số điện thoại</label>
                <input asp-for="Sđt" class="form-control" />
                <span asp-validation-for="Sđt" class="text-danger"></span>
            </div>
                @if (httpContext.Session.GetString("TaiKhoan") != null && httpContext.Session.GetString("TaiKhoan") != "")
            {
                    Membership tv = Newtonsoft.Json.JsonConvert.DeserializeObject<Membership>(httpContext.Session.GetString("TaiKhoan"));
                if (tv.MaLoaiTv == 1)
                {
                    <div class="form-group">
                        <label asp-for="MaLoaiTv" class="control-label">Mã loại thành viên</label>
                        <select asp-for="MaLoaiTv" class="form-control" asp-items="ViewBag.MaLoaiTv"></select>
                        <span asp-validation-for="MaLoaiTv" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="MaLoaiTv" class="control-label">Mã loại thành viên</label>
                        <select asp-for="MaLoaiTv" class="form-control" asp-items="ViewBag.MaLoaiTv" disabled></select>
                        <span asp-validation-for="MaLoaiTv" class="text-danger"></span>
                    </div>
                }
            }
            
            <div class="form-group">
                <br />
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index" class="btn btn-success">Quay trở lại</a>
</div>

