@model Laptop.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h2>XÓA LOẠI SẢN PHẨM</h2>

<h3>Bạn có chắc chắn muốn xóa</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a class="btn btn-dark" asp-action="Index">Trở về</a>
    </form>
</div>
