@model Laptop.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h2>CATEGORY DETAIL</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Category name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.CategoryId">Edit</a> |
    <a class="btn btn-dark" asp-action="Index">Back</a>
</div>
