@model IEnumerable<Laptop.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>CATEGORY</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Add new</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Category name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a>
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.CategoryId">Detail</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
