@model GiayDep.Models.HoaDon

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<<h1 class="text-center font-weight-bold">Tạo hóa đơn</h1>

<h4>Hóa đơn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ngaythanhtoan" class="control-label">Ngày thanh toán</label>
                <input asp-for="Ngaythanhtoan" class="form-control" />
                <span asp-validation-for="Ngaythanhtoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tinhtranggiaohang" class="control-label">Tình trạng giao hàng</label>
                <input asp-for="Tinhtranggiaohang" class="form-control" />
                <span asp-validation-for="Tinhtranggiaohang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaygiao" class="control-label">Ngày giao</label>
                <input asp-for="Ngaygiao" class="form-control" />
                <span asp-validation-for="Ngaygiao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dathanhtoan" class="control-label">Đã thanh toán</label>
                <input asp-for="Dathanhtoan" class="form-control" />
                <span asp-validation-for="Dathanhtoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dahuy" class="control-label">Đã hủy</label>
                <input asp-for="Dahuy" class="form-control" />
                <span asp-validation-for="Dahuy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Daxoa" class="control-label">Đã xóa</label>
                <input asp-for="Daxoa" class="form-control" />
                <span asp-validation-for="Daxoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Makh" class="control-label">Mã khách hàng</label>
                <select asp-for="Makh" class ="form-control" asp-items="ViewBag.Makh"></select>
            </div>
            <div class="form-group">
                <label asp-for="Khuyenmai" class="control-label">Khuyến mãi</label>
                <input asp-for="Khuyenmai" class="form-control" />
                <span asp-validation-for="Khuyenmai" class="text-danger"></span>
            </div>

            <div class="form-group">
                <br />
                <button type="submit" class="btn btn-primary">Tạo mới</button>
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index" class="btn btn-success">Quay trở lại</a>
</div>

