@model IEnumerable<Brand>

<!-- NAVIGATION -->
<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			<ul class="main-nav nav navbar-nav">
				<li><a asp-area="" asp-action="Index" asp-controller="Home">Home</a></li>
				@foreach (var item in Model)
				{
					<li><a asp-controller="ProductView" asp-action="ProductBrand" asp-route-id="@item.BrandId">@item.BrandName.ToUpper()</a></li>
				}
				<li><a asp-controller="Tintucview" asp-action="Index">News</a></li>
				<li><a asp-controller="Warranty" asp-action="Index">Warranty Product</a></li>
			</ul>
			<!-- /NAV -->
		</div>
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>
<!-- /NAVIGATION -->


<script>
	document.addEventListener("DOMContentLoaded", function () {
		var navItems = document.querySelectorAll(".main-nav li");

		navItems.forEach(function (item) {
			var link = item.querySelector("a").getAttribute("href");
			if (window.location.pathname === link) {
				item.classList.add("active");
			}

			item.addEventListener("click", function () {
				// Loại bỏ lớp "active" từ tất cả các mục
				navItems.forEach(function (navItem) {
					navItem.classList.remove("active");
				});
				// Thêm lớp "active" cho mục được chọn
				this.classList.add("active");
			});
		});
	});
</script>