@model IEnumerable<LoaiSp>

<!-- NAVIGATION -->
<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			<ul class="main-nav nav navbar-nav">
				<li class="active"><a asp-action="Index" asp-controller="Home">Home</a></li>
				@foreach (var item in Model)
				{
					<li><a asp-action="ProductCate" asp-controller="ProductView" asp-route-id="@item.Idloai">@item.Tenloai.ToUpper()</a></li>
				}
			</ul>
			<!-- /NAV -->
		</div>
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>
<!-- /NAVIGATION -->