@model Laptop.Models.ProductVariation

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ProductVariation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductVarId" class="control-label">Mã phân khúc</label>
                <input asp-for="ProductVarId" class="form-control" />
                <span asp-validation-for="ProductVarId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ProductItemsId" />
            <input type="hidden" asp-for="RamId" />
            <input type="hidden" asp-for="Ssdid" />
            <div class="form-group">
                <label asp-for="QtyinStock" class="control-label">Số lượng tồn</label>
                <input asp-for="QtyinStock" class="form-control" />
                <span asp-validation-for="QtyinStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Giá</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="Index">Trở về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
