<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Laptop</title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Laptop.styles.css" asp-append-version="true" />
   
        <meta charset="UTF-8">
        <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="turbolinks-cache-control" content="no-cache">
        <meta name="csrf-token" content="8ZqQKg7jjpoTL0QwvIwDdp29b8vQ2VPCeFVxuUCB">
        <title>Kh&aacute;m ph&aacute; khoa học - Giải m&atilde; b&iacute; ẩn c&ocirc;ng nghệ - Sforum</title>
        <meta name="description" content="Kh&aacute;m ph&aacute; khoa học v&agrave; c&ocirc;ng nghệ mới nhất. Những c&acirc;u hỏi l&yacute; th&uacute; về khoa học c&ocirc;ng nghệ chưa c&oacute; lời giải. T&igrave;m hiểu ngay những b&iacute; ẩn về c&ocirc;ng nghệ...">
        @*     <link rel="canonical" href="https://cellphones.com.vn/sforum/kham-pha"> *@
        <meta property="og:site_name" content="Sforum - Trang thông tin công nghệ mới nhất">
        <meta property="og:locale" content="vi_VN">

        <meta property="og:type" content="article">
        <meta property="og:title" content="Lưu trữ Kh&aacute;m ph&aacute;">
        <meta property="og:description" content="Kh&aacute;m ph&aacute; khoa học v&agrave; c&ocirc;ng nghệ mới nhất. Những c&acirc;u hỏi l&yacute; th&uacute; về khoa học c&ocirc;ng nghệ chưa c&oacute; lời giải. T&igrave;m hiểu ngay những b&iacute; ẩn về c&ocirc;ng nghệ...">

        <meta property="msapplication-TileImage" content="2018/03/cropped-Logo_ico1-270x270.png">
        <meta name="twitter:card" content="summary_large_image">







        <link rel="alternate" type="application/rss+xml" title="Dòng thông tin Sforum - Trang thông tin công nghệ mới nhất »" href="https://cellphones.com.vn/sforum/feed">


        <link rel="alternate" type="application/atom+xml" title="Dòng thông tin chuyên mục Sforum - Trang thông tin công nghệ mới nhất » " href="/sforum/kham-pha/feed">

        <link rel="icon" href="cellphones.com.vn/sforum/storage/2023/03/21/logo-ico.png" />

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500&amp;family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,400&amp;display=swap?v=1.0.2" id="main-0">
        <link rel="stylesheet" type="text/css" href="https://cellphones.com.vn/sforum/jw-styles/themes/default/assets/css/app.min.css?v=1.0.2" id="main-1">
        <link rel="stylesheet" type="text/css" href="https://cellphones.com.vn/sforum/jw-styles/themes/default/assets/lib/css/autoptimize.css?v=1.0.2" id="main-2">
        <script src="https://cellphones.com.vn/sforum/jw-styles/themes/default/assets/js/app.min.js?v=1.0.2" id="main-0"></script>
        <script src="https://cellphones.com.vn/sforum/jw-styles/themes/default/assets/lib/js/jquery.magnific-popup.min.js?v=1.0.2" id="main-1"></script>
        <link rel="stylesheet" type="text/css" href="~/cellphones.com.vn/cellphones.com.vn/sforum/jw-styles/themes/default/assets/css/app.min.css" id="main-1">
        <script src="~/cellphones.com.vn/cellphones.com.vn/sforum/jw-styles/themes/default/assets/css/app.min.css" id="main-0"></script>
        <meta name="google-site-verification" content="-EdwUpgLv6BGRhbjyOazkiHFkTo7magmo2AOKm1tfL4" />
        <script src="~/News/js/app.min.js"></script>

        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

        <link type="text/css" rel="stylesheet" href="~/News/css/app.min.css" />
        <link type="text/css" rel="stylesheet" href="~/News/lib/css/autoptimize.css" />

        <link type="text/css" rel="stylesheet" href="~/Product/css/style.css" />
        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="~/Product/css/bootstrap.min.css" />

        <!-- Slick -->
        <link type="text/css" rel="stylesheet" href="~/Product/css/slick.css" />
        <link type="text/css" rel="stylesheet" href="~/Product/css/slick-theme.css" />

        <!-- nouislider -->
        <link type="text/css" rel="stylesheet" href="~/Product/css/nouislider.min.css" />

        <!-- Font Awesome Icon -->
        <link rel="stylesheet" href="~/Product/css/font-awesome.min.css">

        <!-- Custom stlylesheet -->
        <link type="text/css" rel="stylesheet" href="~/Product/css/style.css" />


        <script src="~/News/lib/js/jquery.magnific-popup.min.js"></script>
   
</head>
<body>

    <div>
        @await Html.PartialAsync("~/Views/Shared/Partial/_HeaderTopPartial.cshtml")

    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
