@model GiayDep.Models.NhaSanXuat

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <h2 class="text-center"> Tạo mới </h2>


    <hr />

    <div class="card">
        <div class="card-body">

            <form asp-action="Create" asp-controller="NhaSX" method="post">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group row">
                        <label asp-for="Tennhasx" class="col-form-label font-weight-bold col-sm-2">Tên nhà sản xuất</label>
                        <div class="col-md-6">
                            <input asp-for="Tennhasx" class="form-control" />
                            <span asp-validation-for="Tennhasx" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Diachi" class="col-form-label font-weight-bold col-sm-2">Địa chỉ</label>
                        <div class="col-md-6">
                            <input asp-for="Diachi" class="form-control" />
                            <span asp-validation-for="Diachi" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Sđt" class="col-form-label font-weight-bold col-sm-2">Sđt</label>
                        <div class="col-md-6">
                            <input asp-for="Sđt" class="form-control" />
                            <span asp-validation-for="Sđt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Email" class="col-form-label font-weight-bold col-sm-2">Email</label>
                        <div class="col-md-6">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row ">
                        <div class="col-sm-4 mt-3">
                            <button type="submit" class="btn btn-sm btn-primary font-weight-bold w-25">Thêm mới</button>
                            <a asp-action="Index" class="btn btn-sm btn-secondary font-weight-bold w-25">Trở về</a>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    
</body>
</html>

