@model GiayDep.Models.NhaSanXuat

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên nhà sản xuất:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tennhasx)
        </dd>
        <dt class="col-sm-2">
            Địa chỉ:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class="col-sm-2">
            Số điện thoại:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sđt)
        </dd>
        <dt class="col-sm-2">
            Email:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Idnhasx" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Trở về</a>
    </form>
</div>
