@using Laptop.ViewModels
@model ProductItemViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>CREATE PRODUCTITEM</h2>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" asp-controller="ProductItems" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <input type="hidden" asp-for="ProductId" value="@ViewBag.ProductId" />
            <div class="form-group highlight">
                <label class="form-label">Product</label>
                <input readonly class="form-control-plaintext" value="@ViewBag.ProductName" />
            </div>

            <div class="form-group mb-3">
                <label asp-for="ColorId" class="form-label">Color</label>
                <select asp-for="ColorId" class="form-select" asp-items="ViewBag.ColorId"></select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ProductCode" class="form-label">Product Code</label>
                <input asp-for="ProductCode" class="form-control" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Ram" class="form-label">RAM</label>
                <select asp-for="Ram" class="form-select" asp-items="ViewBag.Ram"></select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Ssd" class="form-label">SSD</label>
                <select asp-for="Ssd" class="form-select" asp-items="ViewBag.SSD"></select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Price" class="form-label">Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Img1" class="form-label">Image 1</label>
                <input asp-for="Img1" class="form-control" type="file" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Img2" class="form-label">Image 2</label>
                <input asp-for="Img2" class="form-control" type="file" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Img3" class="form-label">Image 3</label>
                <input asp-for="Img3" class="form-control" type="file" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Img4" class="form-label">Image 4</label>
                <input asp-for="Img4" class="form-control" type="file" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .highlight {
        background-color: #ffff99; /* Màu nền */
        border-left: 4px solid #ff9900; /* Viền trái nổi bật */
        padding: 10px; /* Thêm một chút đệm */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Bóng đổ nhẹ */
    }

</style>









