@using Laptop.ViewModels
@model ProductItemViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ProductItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="ProductItems" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input type="hidden" asp-for="ProductId" class="form-control" value="@ViewBag.ProductId" />
                <input readonly class="form-control" value="@ViewBag.ProductName" />
            </div>
            <div class="form-group">
                <label asp-for="ColorId" class="control-label"></label>
                <select asp-for="ColorId" class ="form-control" asp-items="ViewBag.ColorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductCode" class="control-label">Mã sản phẩm</label>
                <input asp-for="ProductCode" class="form-control" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ram" class="control-label">Ram</label>
                <select asp-for="Ram" class="form-control" asp-items="ViewBag.Ram"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ssd" class="control-label">Ram</label>
                <select asp-for="Ssd" class="form-control" asp-items="ViewBag.SSD"></select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Đơn giá</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
      
            <div class="form-group">
                <label asp-for="Img1" class="control-label">Hình ảnh 1</label>
                <input asp-for="Img1" class="form-control-file" />
            </div>
            <div class="form-group">
                <label asp-for="Img2" class="control-label">Hình ảnh 2</label>
                <input asp-for="Img2" class="form-control-file" />
            </div>
            <div class="form-group">
                <label asp-for="Img3" class="control-label">Hình ảnh 3</label>
                <input asp-for="Img3" class="form-control-file" />
            </div>
            <div class="form-group">
                <label asp-for="Img4" class="control-label">Hình ảnh 4</label>
                <input asp-for="Img4" class="form-control-file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="Index">Trở về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
