@model Laptop.Models.ProductItem

@{
    ViewData["Title"] = "Details";
    IEnumerable<ProductVariation> listSize = ViewBag.productSize as IEnumerable<ProductVariation>;
}

<h2>CHI TIẾT SẢN PHẨM</h2>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Mã sản phẩm:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.ProductCode)</dd>

            <dt class="col-sm-3">Màu:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Color.ColorName)</dd>

            <dt class="col-sm-3">Tên mục sản phẩm:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Product.ProductName)</dd>

            <dt class="col-sm-2">
                <img src="~/Contents/img/@Model.Image1" class="thumbnail-image" />
            </dt>
            <dt class="col-sm-2">
                <img src="~/Contents/img/@Model.Image2" class="thumbnail-image" />
            </dt>
            <dt class="col-sm-2">
                <img src="~/Contents/img/@Model.Image3" class="thumbnail-image" />
            </dt>
            <dt class="col-sm-2">
                <img src="~/Contents/img/@Model.Image4" class="thumbnail-image" />
            </dt>
            <dt class="col-sm-2">

        </dl>
    </div>
</div>

<div class="mt-3">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ProductItemsId">Sửa</a>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>


<style>
    .thumbnail-image {
        min-width: 50px; /* Giả sử kích thước tối đa của hình ảnh là 100px */
        min-height: 50px; /* Giả sử kích thước tối đa của hình ảnh là 100px */
    }
</style>
