@model IEnumerable<Order>
@{
    ViewData["Title"] = "DaGiaoStatus";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-body">
        <h2 class="col-md-8">Đơn Hàng Đã Hủy</h2>
        @if (Model != null)
        {
            <div id="list" class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                        
                            <th>Họ Tên Khách Hàng</th>
                            <th>Ngày đặt</th>
                            <th>Tình trạng đơn hàng</th>                      
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Customer?.Name</td>
                                <td>@item.OrderDate</td>
                                <td>@item.StatusNaviagtion.StatusName</td>   
                           </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>