@model Laptop.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<h2 class="text-center"> Chi tiết </h2>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên sản phẩm:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            Đơn giá:
        </dt>
       
      
        <dt class="col-sm-2">
            Loại Sản Phẩm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            Thương Hiệu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrandNavigation.BrandName)
        </dd>
        <dt class="col-sm-2">
            Mô Tả
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId" class="btn btn-primary">Chỉnh sửa</a> |
    <a asp-action="Index" class="btn btn-secondary">Trở về</a>
</div>

<style>
    .thumbnail-image {
        max-width: 100px; /* Adjust the maximum width as needed */
        max-height: 100px; /* Adjust the maximum height as needed */
    }
</style>
