@model Laptop.Models.Voucher

@{
    ViewData["Title"] = "Delete";
}

<h2>XÓA MÃ KHUYẾN MÃI</h2>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Khuyến mãi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt>
            Số lượng
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoucherQuantity)
        </dd>
        <dt>
            Ngày bắt đầu
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            Ngày kết thúc 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VoucherCode" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a class="btn btn-dark" asp-action="Index">Trở về</a>
    </form>
</div>
