@using GiayDep.Models
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var httpContext = HttpContextAccessor.HttpContext;
}

<div class="header-top">
    <div class="container">
        @* Tạo form submit về action tìm kiếm *@
        <form asp-controller="TimKiem" asp-action="LayTuKhoaTimKiem" method="get">
            <div class="search">
                <input class="TimKiem" type="text" name="sTuKhoa" value="Từ Khóa " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Từ Khóa';}">
                <input type="submit" value="Tìm kiếm">
            </div>
        </form>
        <div class="header-left">
           
            <ul>
                @if (httpContext.Session.GetString("TaiKhoan") != null && httpContext.Session.GetString("TaiKhoan") != "")
            {
                    Membership tv = Newtonsoft.Json.JsonConvert.DeserializeObject<Membership>(httpContext.Session.GetString("TaiKhoan"));
                    if (tv.MaLoaiTv == 1 || tv.MaLoaiTv ==2)
                {
                    <li style="display:inline;"><a class="lock" asp-area="Admin" asp-controller="Admin" asp-action="Index">Trang quản lý</a></li>
                        @await Component.InvokeAsync("Cart")
                        
                }
                <li style="display:inline; color:white; font-size:17px; margin-right:15px;">Chào @tv.HoTen </li>
                <li><a class="lock" asp-controller="Logout" asp-action="DangXuat">Đăng xuất</a></li>
                    @await Component.InvokeAsync("Cart")          
            }
            else
            {
            <li style="display:inline;"><a id="btnDangNhap" class="lock" href="#">Đăng nhập</a></li>
            <li style="display:inline;"><a class="lock" asp-controller="Register" asp-action="DangKy">Đăng ký</a></li>
            }
            </ul>
            <!--chèn partial view giỏ hàng vào layout (tách icon giỏ hàng sang 1 partial view mới)-->
          
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<!--login form-->

<link href="~/Contents/Material/css/Style_form_dangNhap.css" rel='stylesheet' type='text/css' />

<div>
    <br />
    <div id="popup_login">
        <div class="login-form" id="login-form">
            <div style="clear:both;text-align:right;margin-bottom:0">
                <span id="close-form" class="btn btn-danger">X</span>
            </div>
            <h2>Đăng nhập</h2>
            <div class="form-info">
                <!--Dùng ajax để hiển thị thông báo khi đăng nhập-->
                <form id="loginForm" asp-controller="Login" asp-action="DangNhap" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="ThongBao">
                    <input type="text" class="email" name="txtTenDangNhap" placeholder="Tên đăng nhập" required="" />
                    <input type="password" class="password" name="txtMatKhau" placeholder="Mật khẩu" required="" />
                    <p><a href="#">Quên mật khẩu?</a></p>
                    <h3 id="ThongBao" style="font-weight:bold; color:crimson; text-align:left">
                    </h3>
                    <ul class="login-buttons">
                        <li><input type="submit" class="btn-summit" value="Đăng nhập" style="height: 51px; width: 199px;" /></li>
                        <li><a asp-action="DangKy" asp-controller="Register" class="btn-summit hvr-sweep-to-left" style="min-width: 150px; height: 47px; font-size: 16px; text-decoration:none">Đăng ký</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .search .TimKiem {
        color: #c7c7c7 !important;
        font-weight: inherit !important;
    }

    #close-form {
        color: white;
    }

    #popup_login {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 1000;
        display: none;
        text-align: center;
    }

    .btn-summit:hover {
        background: rgba(54, 185, 204);
        color: #fff;
        transition: 0.6s all;
        -webkit-transition: 0.6s all;
        -moz-transition: 0.6s all;
        -o-transition: 0.6s all;
    }

    .btn-summit {
        background: rgba(63, 101, 212);
        color: #fff;
        padding: 15px 60px;
        font-size: 1.1em;
        font-weight: 600;
        margin-right: 27px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        outline: none;
        border: none;
        cursor: pointer;
    }
</style>

<script type="text/javascript">
    document.getElementById("btnDangNhap").addEventListener("click", function () {
        document.getElementById("popup_login").style.display = "block";
    });

    document.getElementById("close-form").addEventListener("click", function () {
        document.getElementById("popup_login").style.display = "none";
    });
</script>


