<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

    <!-- Google font -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <!-- POPUP addtocart -->
    <link href="~/popup/addtocart/demo.css" rel="stylesheet" />
    <link href="~/popup/addtocart/style.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/Product/css/bootstrap.min.css" />
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/Product/css/slick.css" />

    <link type="text/css" rel="stylesheet" href="~/Product/css/slick-theme.css" />
    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/Product/css/nouislider.min.css" />
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Product/css/font-awesome.min.css">
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Product/css/style.css" />

</head>
<body>
    <!--header-->
    <div class="header">
        @await Html.PartialAsync("~/Views/Shared/Partial/_HeaderTopPartial.cshtml")
    </div>
    <div>
        @await Html.PartialAsync("~/Views/Shared/Partial/_TopBarPartial.cshtml")
    </div>
    <div>
        @await Component.InvokeAsync("Nav")
    </div>
    <!--header-->
   
        @RenderBody()
    <div>
        @await Html.PartialAsync("~/Views/Shared/Partial/_Plugin.cshtml")
    </div>
    
 <div class="footer">
        @await Component.InvokeAsync("Footer")
        @RenderSection("Scripts", required: false)
    </div>
    <!-- jQuery Plugins -->
    <script src="~/Product/js/jquery.min.js"></script>
    <script src="~/Product/js/bootstrap.min.js"></script>
    <script src="~/Product/js/slick.min.js"></script>
    <script src="~/Product/js/nouislider.min.js"></script>
    <script src="~/Product/js/jquery.zoom.min.js"></script>
    <script src="~/Product/js/main.js"></script>

</body>
</html>
