@model Laptop.Models.Color

@{
    ViewData["Title"] = "Create";
}

<h2>ADD NEW COLOR</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ColorName" class="control-label">Color name</label>
                <input asp-for="ColorName" class="form-control" />
                <span asp-validation-for="ColorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <input type="submit" value="Add" class="btn btn-primary" />
                <br>
            </div>
        </form>
    </div>
</div>

<div>
    <br>
    <a asp-action="Index" class="btn btn-dark">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

