@model Laptop.Models.Color

@{
    ViewData["Title"] = "Delete";
}

<h2>XÓA MÀU SẢN PHẨM</h2>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên màu
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColorName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ColorId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-dark">Trở về</a>

    </form>
</div>
