@model Laptop.Models.Color

@{
    ViewData["Title"] = "Details";
}

<h2>THÔNG TIN CỦA MÀU SẢN PHẨM</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên màu
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColorName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ColorId">Sửa</a> 
    <br>
    <a class="btn btn-dark" asp-action="Index">Trở về</a>
</div>
