@model Laptop.Models.Brand

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Nhà sản xuất</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên nhà sản xuất 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt class = "col-sm-2">
          Địa chỉ 
        </dt>

        <dt class = "col-sm-2">
           Số điện thoại 
        </dt>
     
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BrandId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về</a>
    </form>
</div>
