@model Laptop.Models.Brand

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>CHI TIẾT NHÀ SẢN XUẤT</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên nhà sản xuất 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt class = "col-sm-2"> 
       
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.BrandId">Chỉnh sửa</a> |
    <a class="btn btn-danger" asp-action="Index">Trở về</a>
</div>
